mixin section-type-title (sthtitle, sthprice)
    .section-type-title
        .section-type-title-text
            h2=sthtitle
            a(href="#").info
        .section-type-price
            span &#8364
            span=sthprice
mixin button-slim (bslabel)
    .button-slim
        button.submit=bslabel
mixin modal (mtitle, mdescr, mprop_1, mprop_2, mprop_3, mprop_4, mprop_5, mprop_6, mval_1,mval_2,mval_3,mval_4,mval_5,mval_6)
    .modal
        .modal__dialog
            .modal__content
                .modal__close &times;
                .modal__title=mtitle
                .caption
                    .descr=mdescr
                    .props-block
                        ul.properties
                            li=mprop_1
                            li=mprop_2
                            li=mprop_3
                            li=mprop_4
                            li=mprop_5
                            li=mprop_6
                        ul.values
                            li=mval_1
                            li=mval_2
                            li=mval_3
                            li=mval_4
                            li=mval_5
                            li=mval_6
                .total
                    button.btn рассчитать стоимость
mixin calcModal (mctitle)
    .calcModal
        .calcModal__dialog
            .calcModal__content
                .calcModal__close &times;
                .calcModal__title=mctitle
                form
                    .field
                        input(placeholder="ВАШЕ ИМЯ*" type="" name="name" data-rule="name")
                    .field
                        input(placeholder="NUMBER*" type="" name="number" data-rule="number")
                    .field
                        input(placeholder="E-MAIL*" type="" name="email" data-rule="email")
                    button.submit узнать стоимость


mixin signDescr (sdimg, sddescr)
    .descr
        img(src=sdimg)
        span=sddescr
mixin signDescrLeft (sdimg, sddescr)
    .descr_left
        img(src=sdimg)
        span=sddescr
mixin glideSlider(gsimg_1, gsimg_2, gsimg_3, gsimg_4, gsimg_5, gsimg_6)
    .glide
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    img(src=gsimg_1)
                li.glide__slide
                    img(src=gsimg_2)
                li.glide__slide
                    img(src=gsimg_3)
                li.glide__slide
                    img(src=gsimg_4)
                li.glide__slide
                    img(src=gsimg_5)
                li.glide__slide
                    img(src=gsimg_6)
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet(data-glide-dir="=0")
                button.glide__bullet(data-glide-dir="=1")
                button.glide__bullet(data-glide-dir="=2")
                button.glide__bullet(data-glide-dir="=3")
                button.glide__bullet(data-glide-dir="=4")
                button.glide__bullet(data-glide-dir="=5")

mixin glideSlider_1(gsimg_1, gsimg_2, gsimg_3, gsimg_4, gsimg_5, gsimg_6)
    .glide_1
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    img(src=gsimg_1)
                li.glide__slide
                    img(src=gsimg_2)
                li.glide__slide
                    img(src=gsimg_3)
                li.glide__slide
                    img(src=gsimg_4)
                li.glide__slide
                    img(src=gsimg_5)
                li.glide__slide
                    img(src=gsimg_6)
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet(data-glide-dir="=0")
                button.glide__bullet(data-glide-dir="=1")
                button.glide__bullet(data-glide-dir="=2")
                button.glide__bullet(data-glide-dir="=3")
                button.glide__bullet(data-glide-dir="=4")
                button.glide__bullet(data-glide-dir="=5")

mixin glideSlider_2(gsimg_1, gsimg_2, gsimg_3, gsimg_4, gsimg_5, gsimg_6)
    .glide_2
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    img(src=gsimg_1)
                li.glide__slide
                    img(src=gsimg_2)
                li.glide__slide
                    img(src=gsimg_3)
                li.glide__slide
                    img(src=gsimg_4)
                li.glide__slide
                    img(src=gsimg_5)
                li.glide__slide
                    img(src=gsimg_6)
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet(data-glide-dir="=0")
                button.glide__bullet(data-glide-dir="=1")
                button.glide__bullet(data-glide-dir="=2")
                button.glide__bullet(data-glide-dir="=3")
                button.glide__bullet(data-glide-dir="=4")
                button.glide__bullet(data-glide-dir="=5")

mixin glideSlider_3(gsimg_1, gsimg_2, gsimg_3, gsimg_4, gsimg_5, gsimg_6)
    .glide_3
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    img(src=gsimg_1)
                li.glide__slide
                    img(src=gsimg_2)
                li.glide__slide
                    img(src=gsimg_3)
                li.glide__slide
                    img(src=gsimg_4)
                li.glide__slide
                    img(src=gsimg_5)
                li.glide__slide
                    img(src=gsimg_6)
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet(data-glide-dir="=0")
                button.glide__bullet(data-glide-dir="=1")
                button.glide__bullet(data-glide-dir="=2")
                button.glide__bullet(data-glide-dir="=3")
                button.glide__bullet(data-glide-dir="=4")
                button.glide__bullet(data-glide-dir="=5")